.Home-first{
    background: #19283f;
    height: calc(100vh - 50px);
    color: #fff;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    
    
}
#Home-container{
    /* font-weight: 1200; */
    margin-top: -1rem;
}
#Home-containe p{
    font-weight: 600;
}
.Home-first div h1{
    font-size: 2.5rem;
}
#button{
        background-color:#ff3150;
        color:#ffc400;
        font-size:15px;
        border-radius:20px;
        font-size:550;
        font-weight: 550;
        padding: 9px 15px;
        margin-top: 30px;
}

#Home-second{
    /* height: calc(100vh - 50px); */
    background:#ffffff;
}

#first-row{
    /* margin: 100px auto; */
    /* font-weight: 600; */

}
/* #first-row span,
#first-row h3,
#first-row p{
    margin-top: 20px;
} */
#first-row h3{
    font-size: 1.9rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#first-row p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: gray
}
.first.col-::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color: #33d1cc;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.image-holder{
    color: #33d1cc;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.image-holder .number{
    font-size: 7rem;
    opacity: 0.1;
    z-index: 1;
}
.image-holder .pencel{
    font-size: 4em;
    z-index: 3;
    
}

.number ,.pencel{
    display:initial;

}

.Parag h3{
    color:#ffc400
}

.home-third{
    margin-top: 10rem;
    /* height: calc(120vh - 50px); */
}

.home-fourth{
    /* height: calc(120vh - 50px); */
    background: #eff7fa;
}
.row-liste{
    margin-top: -40px;
}
.liste li{
    margin: 0 15px;
    font-weight: 550;
}
.liste li:first-child{
    background: #ff3150;
    padding:7px 13px;
    border-radius: 19px;
    margin-top: -7px;
    color: #ffc400;
}
.liste li:hover{
    color:#ff3150;
    cursor: pointer;
}
.liste li:first-child:hover{
    color:#ffc400;
}

.image{
    /* height: 25vh; */
    /* max-width: 100%;
    height: auto;
    margin-bottom: 30px; */

}
.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative !important;
}
.our-work .box::before {
    content: attr(data-work);
    position: absolute !important;
    background-color: rgb(51 209 204 / 76%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before{
    transform: translateX(0);
}

#button-more{
    background-color:#ff3150;
    color:#ffc400 !important;
    font-size:15px;
    border-radius:20px;
    font-size:550;
    font-weight: 550;
    padding: 9px 15px;
    margin-top: 30px;
}

#button-more a{
    text-decoration: none;
    color:#ffc400;
}

#Home-fifth{
    /* height: calc(100vh - 50px); */
    background:#ffffff;
}
#home-sixth {
    /* height: calc(108vh - 50px); */
    background:azure !important;
}
.sky{
    background-color: rgb(51 209 204);
    color: #fff;
}

#button-more-2{
    background-color:#ff3150;
    color:#ffc400 !important;
    font-size:15px;
    border-radius:20px;
    font-size:550;
    font-weight: 550;
    padding: 9px 15px;
}

#home-eight{
    background: #19283f !important;
}
.row.nine{
    text-align: left;
}
#home-ten{
    background-color: #ffc400;
}
.subscribe input[type="email"],textarea{
    border: none;
    border-bottom: 2px solid white;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input::placeholder{
    color: #eff7fa;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 550;
}
input:focus{
    outline: none;
}
.subscribe button{
    outline: none;
    color: #ffc400;
}

#home-eleven{
    background-color: #19283f;
    color: #eff7fa;
}
ul li{
    font-size: 16px;
    margin-bottom: 5px;

}